* {
    font-family: "Andale Mono",AndaleMono,monospace;
    margin: 0;
    scroll-behavior: smooth;
}

.site-section {
    margin-top: -1px;
    background: #202020;
    width: 100%;
    height: 100vh;
    position: relative;
}

.section-content-container {
    height: 100%;
    width: 100%;
}

.btn-rounded-blue {
    background: transparent;
    text-decoration: none;
    color: #BBFFFF;
    border: solid 2px #BBFFFF;
    border-radius: 3px;
    padding: 4px;
}

.btn-rounded-blue:hover {
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
}

.section-heading {
    margin-top: 2px;
    position: absolute;
    width: 100%;
    padding: 5px 0;
    background-image: linear-gradient(135deg, black 45%, transparent 50px), linear-gradient(-45deg, #FED8B1 45%, transparent 50px);
    font-size: 36px;
    color: #9b9b9b
}

.section-heading span {
    color: #004545;
}

/* TOP MENU */
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section-li {
    display: block;
    float: right;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

#menu span {
    color: #004545;
}

.section-li a {
    color: #9b9b9b;
    text-decoration: none;
}

.section-li:hover {
    background-color: #111111;
}

/* LEAD SECTION */

#lead-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    padding-bottom: 35px;
    background:
        linear-gradient(to right, #FED8B1 5px, transparent 5px) 0 0,
        linear-gradient(to left, #FED8B1 5px, transparent 5px) 100% 100%,
        linear-gradient(to bottom, #FED8B1 5px, transparent 5px) 0 0,
        linear-gradient(to top, #FED8B1 5px, transparent 5px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#lead-content h2 {
    font-size: 36px;
}

#name-header {
    margin-bottom: 20px;
    color: #FFF
}

#title-header {
    color: #9b9b9b;
    margin-bottom: 30px;
}

/* ABOUT SECTION */

#about-content {
    position: absolute;
    text-align: center;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

#about-text {
    width: 60%;
    color: #9b9b9b;
    text-align: left;
    padding-right: 70px;
}

#about-text h3 {
    margin-top: 1px;
    color: #004545;
    font-size: 26px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #202020 100px, transparent 100px),  linear-gradient(to bottom, #202020 12px, #004545 12px,  #202020 17px);
}

#about-text a {
    color: #9b9b9b;
    text-decoration: none;
    cursor: text;
    font-size: 20px;
}


#about-text p {
    margin-bottom: 8px;
    font-size: 20px;
}

#about-image-container {
    width: 40%;
}

#about-image {
    width: 100%;
    box-shadow: 7px 7px #202020, 9px 9px #BBFFFF, 14px 14px #202020, 16px 16px #BBFFFF, 21px 21px #202020, 23px 23px #BBFFFF;
}

/* EXPERIENCE SECTION */

#experience-content {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    color: #9b9b9b;
}

#experience > .section-heading {
    background-image: linear-gradient(135deg, black 65%, transparent 50px), linear-gradient(-45deg, #FED8B1 25%, transparent 50px);
}

#experience-content ul {
    padding: 0;
}

.job-li {
    display: block;
    padding: 17px;
    font-size: 14px;
    border-left: solid 2px #008080;
    transition: .5s all ease;
}

.job-li.jselected {
    color: #FFF;
    border-left: solid 2px #BBFFFF;
    transition: .5s all ease;
}

#job-selectors {
    width: 30%;
}

#mobile-break {
    display: none;
}

#job-content {
    width: 70%;
}

#job-content div {
    display: none;
}

#job-content .jselected {
    display: unset;
}

.job-company {
    color: #004545;
    font-size: 23px;
    margin-bottom: 10px;
}

.job-title {
    color: #FFFFFF;
    font-size: 26px;
}

.job-at {
    color: #FED8B1;
}

.time-range {
    font-size: 14px;
    color: #BBFFFF;
    padding-bottom: 20px;
}

#job-content ul li {
    display: block;
    padding-bottom: 15px;
    font-size: 14px;
}

#resume-button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* EDUCATION SECTION */

#education > .section-heading {
    background-image: linear-gradient(135deg, black 65%, transparent 50px), linear-gradient(-45deg, #FED8B1 25%, transparent 50px);
}

#education-content {
    position: absolute;
    display: block;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    color: #9b9b9b;
}

#education-selectors {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 30px;
    text-align: center;
    width: 60%;
}

#education-selectors ul {
    width: 100%;
    padding: 0;
}

.edu-li {
    display: inline-block;
    padding: 17px 0;
    font-size: 14px;
    color: #9b9b9b;
    border-bottom: solid 2px #008080;
    transition: .5s all ease;
    width: 40%;
}

.edu-li.eselected {
    color: #FFF;
    border-bottom: solid 2px #BBFFFF;
    transition: .5s all ease;
}

#school-content div{
    display: none;
}

#school-content .eselected {
    display: unset;
}

#courses-title {
    color: #FED8B1;
}

.time-range-edu {
    font-size: 14px;
    color: #004545;
    padding-bottom: 20px;
}

.gpa {
    color: #BBFFFF;
}

/* PROJECTS SECTION */

#projects-content {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    color: #9b9b9b;
}

#projects > .section-heading {
    background-image: linear-gradient(135deg, black 65%, transparent 50px), linear-gradient(-45deg, #FED8B1 25%, transparent 50px);
}

#projects-selectors {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 30px;
    text-align: center;
    width: 60%;
    overflow: hidden;
}

#projects-selectors ul {
    width: 100%;
    padding: 0;
    white-space: nowrap;
}

.proj-li {
    display: inline-block;
    padding: 17px 0;
    font-size: 14px;
    color: #202020;
    border-bottom: solid 2px #008080;
    transition: .5s all ease;
    width: 3%;
    margin-right: -5px;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.proj-li.pselected {
    color: #FFF;
    border-bottom: solid 2px #BBFFFF;
    transition: .5s all ease;
    width: 70%;
}

.li-arrow {
    display: inline-block;
    padding: 17px 0;
    font-size: 22px;
    width: 3%;
    transition: .5s all ease;
    color: #202020;
    border: none;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.li-arrow.ready {
    color: #FFF;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1030px) {
    #about-text h3 {
        font-size: 23px;
    }

    #about-text p {
        font-size: 16px;
    }

    #about-text a {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    #about-content {
        width: 80%;
    }

    #about-text h3 {
        font-size: 20px;
    }

    #about-text p {
        font-size: 14px;
    }

    #about-text a {
        font-size: 14px;
    }

    #menu {
        display: none;
    }

    #experience-content {
        width: 95%;
    }

    #education-selectors {
        width: 85%;
    }

    #education-content {
        width: 85%;
    }
}

@media screen and (max-width: 475px) {

    .section-heading {
        font-size: 28px;
        color: #9b9b9b
    }

    #mobile-break {
        display: unset;
    }

    #education-selectors {
        top: 15%;
    }

    #projects-selectors {
        top: 15%;
        width: 90%;
    }

}